<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE generatorConfiguration
                PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
                "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

<classPathEntry location="G:\D\eclipseconfig\maven\apache-maven-3.5.0-bin\MavenRepository\mysql\mysql-connector-java\5.1.47\mysql-connector-java-5.1.47.jar"/>




<context id="DB2Tables" targetRuntime="MyBatis3">

     <commentGenerator>
         <property name="suppressDate" value="true"/>
         <property name="addRemarkComments" value="true"/>
     </commentGenerator>

    <jdbcConnection connectionURL="jdbc:mysql://localhost:3306/spring_shiro" driverClass="com.mysql.jdbc.Driver"
                    password="123" userId="root"/>

    <javaTypeResolver >
        <property name="forceBigDecimals" value="false" />
    </javaTypeResolver>

    <javaModelGenerator targetPackage="net.auio.recruitworking.model" targetProject="D:\D\IdeaProjects\recruit-working\src\main\java">
        <property name="enableSubPackages" value="true" />
        <property name="trimStrings" value="true" />
    </javaModelGenerator>

    <sqlMapGenerator targetPackage="mapper"  targetProject="D:\D\IdeaProjects\recruit-working\src\main\resources">
        <property name="enableSubPackages" value="true" />
    </sqlMapGenerator>

    <javaClientGenerator type="XMLMAPPER" targetPackage="net.auio.recruitworking.mapper"  targetProject="D:\D\IdeaProjects\recruit-working\src\main\java">
        <property name="enableSubPackages" value="true" />
    </javaClientGenerator>

    <table schema="Info" tableName="info" domainObjectName="Info" >
        <generatedKey column="id" sqlStatement="MySql" identity="true" />
    </table>

</context>
</generatorConfiguration>